<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css')}}">
    <title>REPORT</title>
</head>
<body>
    <p>bleble</p>
    <ul>
        {# Dodano .items() na końcu zmiennej topics #}
        {% for key, value in topics.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
</body> <!-- Poprawiono literówkę z <body> na </body> -->
</html>
